@import "tailwindcss";

:root{
    --primary: #1D3557;
    --danger: #DB1F26;
    --success: #1EA54E;
    --yel: #F59F0A;
    --info: #1EA54E;
    --sec: #8597A8;
    --info: #0078D7;
    --bd: #F1F2F3;
    --dim: #7B9FC3;
    --lk: rgba(152, 174, 192, 0.1);
    --rp: rgba(0, 0, 0, 0.2);
    --card-bd: #E0E8ED;
    --bg-primary: #F5F8FA;
}


body {
    font-family: "Cairo", sans-serif;
    background-color: var(--bg-primary);
}

