@import "tailwindcss";

:root{
    --primary: #1D3557;
    --danger: #DB1F26;
    --success: #1EA54E;
    --yel: #F59F0A;
    --info: #1EA54E;
    --sec: #8597A8;
    --info: #0078D7;
    --bd: #F1F2F3;
    --dim: #7B9FC3;
    --lk: rgba(152, 174, 192, 0.1);
    --rp: rgba(0, 0, 0, 0.2);
    --card-bd: #E0E8ED;
    --bg-primary: #F5F8FA;
    --other: #F5F8FB;
}


body {
    font-family: "Cairo", sans-serif;
    background-color: var(--bg-primary);
}

.scroll-hidden{
    scrollbar-width: 0;
}

.scroll-hidden::-webkit-scrollbar{
    scrollbar-width: 0;
}

@keyframes dot {
    from {
        opacity: 0.5;
        scale: 0.5
    }
    to{
        opacity: 1;
        scale: 1;
    }
}